body{
    display: block;
    margin: auto;
}

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: red;
}

#navbar ul{
    display: inline;
}

#navbar ul li{
    display: inline;
}

#navbar-left{
    float: left;
    margin-top: 0px;
}

#navbar-right{
    float: right;
    margin-top: 0px;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 20em;
    height: auto;
}

.searchbar #search{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 35%;
    height: 2.5em;
    border-radius: 20px;
}